{% extends 'base.html.twig' %}

{% block title %}New employe{% endblock %}

{% block body %}
    <h1>Create new employe</h1>

    {{ include('employe/_form.html.twig') }}

    <a href="{{ path('app_employe_index') }}">voir la liste</a>
{% endblock %}
